<div
  class="container bg-light p-5 border border-dark"
  [ngStyle]="{
    'margin-top': '50px'
  }"
>
  <ng-container *ngIf="isFormSend">
    <div class="bg-info">
      <p>Formulário enviado com sucesso!!</p>
    </div>
  </ng-container>
  <!-- <form> recebe uma diretiva [formGroup] com o nome do FormGroup do <NomeDoComponente>.component.ts -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column" [ngStyle]="{ gap: '1rem' }">
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <!-- Input vai receber o FormControlName que vai fazer o link para as validações do FormControl no FormGroup -->
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="inputName"
            placeholder="Name"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            formControlName="email"
            type="text"
            class="form-control"
            id="inputEmail"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-10">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Password"
          />
        </div>
      </div>
      <!-- Invalidando botão de envio caso formulário não esteja com todas os campos preenchidos corretamente -->
      <button
        [disabled]="registerForm.invalid"
        type="submit"
        class="d-block mx-auto btn btn-outline-dark w-25"
      >
        Send
      </button>
    </div>
  </form>
</div>

<!-- Mostrando as validações no HTML -->
<div class="container mt-5 border border-secondary p-4">
  <div>
    Valores do Formulário:
    <pre>
      {{ registerForm.value | json }}
    </pre>
  </div>
  <hr />
  <!-- Se o formulário é válido ou não. Isso pode ser usabo para desabilitar o botão de envio quando o form não for válido -->
  <div>
    Formulário é válido: <span class="text-info">{{ registerForm.valid }}</span>
  </div>
  <hr />
  <!-- Os erros podem aparecer embaixo dos inputs, por exemplo quando o usuário não coloca o length mínimo para a senha -->
  <div>
    Erros do formulário:
    <div>
      <span class="text-danger"
        >NOME: {{ registerForm.get("name")?.errors | json }}</span
      >
      <hr />
      <span class="text-danger"
        >EMAIL: {{ registerForm.get("email")?.errors | json }}</span
      >
      <hr />
      <span class="text-danger"
        >SENHA: {{ registerForm.get("password")?.errors | json }}</span
      >
    </div>
  </div>
</div>
